<div class="container">

    <div class="row justify-content-center text-light">
        <div class="col-10">
            <%= form_with(model: @article, class: "bg-primary p-5 rounded", local: true) do |f| %>
                <div class="from-group row">
                    <%= f.label :title, class: "col-2 col-form-label" %>
                    <div class="col-10">
                        <%= f.text_field :title, class: "form-control", placeholder: "Title of article"%>
                    </div>
                </div>

                <div class="from-group row pt-3 ">
                    <%= f.label :description, class: "col-2 col-form-label"%>
                    <div class="col-10">
                    <%= f.text_area :description, rows: 10,  class: "form-control", placeholder: "Description of article" %>
                    </div>
                </div>

                <div class="from-group row pt-3 ">
                    <%= f.label :category, class: "col-2 col-form-label"%>
                    <div class="col-10">
                    <%= f.collection_select(:category_ids, Category.all, :id, :name, 
                    {prompt: "Choose from the list below (optional)"}, { :multiple => true, class: "custom-select"} )%>
                    </div>
                </div>

                <div class="from-group row mt-3 justify-content-center">
                    <%= f.submit class: "col-3 btn btn-outline-light btn-lg" %>
                </div>
            <% end %>
        </div>

        <div class="text-primary text-center mt-3"><%= link_to "Return to article listing", articles_path %></div>
    </div>

</div>