<div class="container">

    <div class="row justify-content-center text-light">
        <div class="col-10">
            <%= form_with(model: @user, class: "bg-primary p-5 rounded", local: true) do |f| %>
                <div class="from-group row">
                    <%= f.label :username, class: "col-sm-2 col-md-2 col-lg-2 col-form-label" %>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <%= f.text_field :username, class: "form-control", placeholder: "Enter a username"%>
                    </div>
                </div>

                <div class="from-group row pt-3 pb-3 ">
                    <%= f.label :email, class: "col-sm-2 col-md-2 col-lg-2 col-form-label"%>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <%= f.email_field :email,  class: "form-control", placeholder: "Enter your email" %>
                    </div>
                </div>

                <div class="from-group row">
                    <%= f.label :password, class: "col-sm-2 col-md-2 col-lg-2 col-form-label" %>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <%= f.password_field :password, class: "form-control", placeholder: "Enter a password"%>
                    </div>
                </div>

                <div class="from-group row mt-3 justify-content-center">
                    <%= f.submit(@user.new_record? ? "sign up" : "Update account", class: "col-sm-12 col-md-12 col-lg-3 btn btn-outline-light btn-lg") %>
                </div>
            <% end %>
        </div>

        <div class="text-primary text-center mt-3"><%= link_to "Return to article listing", articles_path %></div>
    </div>

</div>